.howtoPage {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 1.5em;
}

.howtoPage h3 {
  margin-bottom: 1em;
  font-size: clamp(20px, 6vw, 60px);
}

.howtoPage h4 {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.howtoPage > ol > li,
.howtoPage h4 {
  font-size: clamp(10px, 3vw, 30px);
}

.howtoPage div {
  font-size: 16px;
}

.howtoSubListWrapper {
  margin-left: 2em;
}

.howtoSubListWrapper > li {
  margin: 0.5em 0;
}
