/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap");

/* classes */

.chartSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.sectionHeading {
  margin-bottom: 1em;
  font-size: 22px;
}

.sectionHeadingII {
  /* Use this class when there are multiple headings for a section */
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 22px;
}

.sectionDescription {
  margin-top: 1em;
}

.iconWrapper {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: var(--iconColor);
}

.summaryBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.summaryBox {
  margin: 1.5em;
}

.summaryBox p:is(:first-of-type) {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.chartsHorizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.chartsHorizontal > div:is(:first-of-type) {
  margin-right: 2em;
}

/* Individual sections formatting */

#madeWithTag {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  align-self: flex-end;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

#chart {
  width: 100%;
  max-width: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* left: 50%; */
  align-self: center;
  padding: 3em;
  overflow-x: scroll;
  background-color: var(--backgroundColor, aqua);
  color: var(--textColor);
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  font-weight: 400;
}

#chart h1,
h2 {
  font-family: "Raleway", "Ubuntu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
}

#chart h1 {
  margin-bottom: 0.1em;
  font-size: 42px;
  font-weight: 700;
}

#chart h2 {
  font-size: 28px;
  font-weight: 400;
}

#chart header {
  margin-bottom: 1em 0;
}

#summaries {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#sectionEmojis > .sectionDescription,
#sectionTiming > .sectionDescription {
  margin-bottom: 1em;
}
