.chartSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.sectionHeading {
  margin-bottom: 2em;
}

.sectionHeadingII {
  /* Use this class when there are multiple headings for a section */
  margin-top: 2em;
  margin-bottom: 1em;
}

.sectionDescription {
  margin-top: 1em;
}

.sectionHeading + .sectionDescription {
  margin-top: -1em;
}

.iconWrapper {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: var(--iconColor);
}

.summaryBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.summaryBox:not(:last-child) {
  margin-right: 3em;
}

.summaryBox p:is(:first-of-type) {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.chartsHorizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.chartsHorizontal > div:is(:first-of-type) {
  margin-right: 3em;
}

/* Individual sections formatting */

#madeWithTag {
  position: absolute;
  top: 1em;
  right: 1em;
  align-self: flex-end;
}

#chart {
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  background-color: var(--backgroundColor, aqua);
  color: var(--textColor);
}

#chart h1 {
  margin-bottom: 0.3em;
}

#chart header {
  margin-bottom: 1em 0;
}

#summaries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#sectionEmojis > .sectionDescription,
#sectionTiming > .sectionDescription {
  margin-bottom: 1em;
}
