* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  text-align: center;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  /* width: 100vw; 
  max-width: 100%; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.linksList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.linksList > li {
  margin: 0.3em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: aqua;
  color: brown;
}

/*  */

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}
