*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: lightgray;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  text-align: center;
}